.table-responsive {
  overflow-x: auto;
  background-color: aliceblue;
  border: 1px solid bisque;
}

@media screen and (max-width: 768px) {
  .table-responsive {
    width: 100%;
  }

  .table-responsive table {
    width: 100%;
  }

  .table-responsive th,
  .table-responsive td {
    white-space: nowrap;
  }
}

.submit button {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
