.btn-button {
    border-color: aliceblue;
    border-radius: 10px;
}
.button-camera {
  display: flex;
}
.button-camera i {
  width: 30%;
}
.button-camera span {
  margin-left: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}
